Babel
bcrypt
Flask
Flask-Babel
Flask-Bootstrap
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-OpenID
Flask-RESTful
Flask-SQLAlchemy
Flask-WhooshAlchemy
Flask-WTF
googletrans
guess-language-spirit
httplib2
Jinja2
Pillow
SQLAlchemy
sqlalchemy-migrate
Werkzeug
WTForms
python-dotenv
