<div class='bg-white'>
    <table class="table bg-light">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img width="75px" height="75px" class="rounded-circle account-img" src="../static/profile_pics/{{ post.author.image_file }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                <div class="text-blackk">{{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                    <br>
                    <span id="post{{ post.id }}">{{ post.body }}</span>
                    {% if post.language and post.language != g.locale %}
                    <br><br>
                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
                        </span>
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
</div>