{% extends 'bootstrap/base.html' %}


{% block head %}
{% block app_head %}{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/dark.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"">
<title>{% if title %}{{ title }} - Donts.Net{% else %}Welcome to Donts.Net{% endif %}</title>

{% endblock %}

{% block navbar %}

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-black" href="{{ url_for('main.index') }}">Donts.Net</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              {% if not current_user.is_anonymous %}
            <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
            <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
            <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('main.todolist') }}">{{ _('To Do list') }}</a></li>
            <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('main.calendar') }}">{{ _('Calendar') }}</a></li>
            {% endif %}
          </ul>
            <div class="mx-auto order-0">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="darkSwitch">
                        <label class="custom-control-label" for="darkSwitch">
                            <svg class="bi bi-brightness-high-fill" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8" cy="8" r="4"/>
                                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                              </svg>
                            {{ _('Dark Theme') }}</label>
                    </div>
                    <script src="../static/dark.js"></script>

            </div>
          <form class="navbar-nav form-inline my-2 my-lg-0">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                {% else %}
                <li class="nav-item active mr-sm-2 ml-2"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                <li class="nav-item active mr-sm-2 ml-2">
                    <a href="{{ url_for('main.messages') }}">
                        {{ _('Messages') }}
                        {% set new_messages = current_user.new_messages() %}
                        <span id="message_count" class="badge"
                              style="visibility: {% if new_messages %}visible
                                                 {% else %}hidden {% endif %};">
                            {{ new_messages }}
                        </span>
                    </a>
                </li>
                <li class="nav-item active"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                {% endif %}
          </form>
        </div>
      </nav>
{% endblock %}



{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        function complete(case_id) {
            $.post('/complete', {
                case_id: case_id
            }).done(function(response) {
                $(case_id).text(response['case_id'])
                window.location.href = "todolist"
            }).fail(function() {
                $(case_id).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        function delete_case(case_id) {
            $.post('/delete_case', {
                case_id: case_id
            }).done(function(response) {
                $(case_id).text(response['case_id'])
                window.location.href = "todolist"
            }).fail(function() {
                $(case_id).text("{{ _('Error: Could not contact server.') }}");
            });
        }
//         $(function() {
//             var timer = null;
//             var xhr = null;
//             $('.user_popup').hover(
//                 function(event) {
//                     // mouse in event handler
//                     var elem = $(event.currentTarget);
//                     timer = setTimeout(function() {
//                         timer = null;
//                         xhr = $.ajax(
//                             '/user/' + elem.first().text().trim() + '/popup').done(
//                                 function(data) {
//                                     xhr = null
//                                     elem.popover({
//                                         trigger: 'manual',
//                                         html: true,
//                                         animation: false,
//                                         container: elem,
//                                         content: data
//                                     }).popover('show');
//                                     flask_moment_render_all();
//                                 }
//                             );
//                     }, 1000);
//                 },
//                 function(event) {
//                     // mouse out event handler
//                     var elem = $(event.currentTarget);
//                     if (timer) {
//                         clearTimeout(timer);
//                         timer = null;
//                     }
//                     else if (xhr) {
//                         xhr.abort();
//                         xhr = null;
//                     }
//                     else {
//                         elem.popover('destroy');
//                     }
//                 }
//             )
//         });
//         function set_message_count(n) {
//             $('#message_count').text(n);
//             $('#message_count').css('visibility', n ? 'visible' : 'hidden');
//         }
//         {% if current_user.is_authenticated %}
//         $(function() {
//             var since = 0;
//             setInterval(function() {
//                 $.ajax('{{ url_for('main.notifications') }}?since=' + since).
// done(
//                     function(notifications) {
//                         for (var i = 0; i < notifications.length; i++) {
//                             if (notifications[i].name == 'unread_message_count')
//                                 set_message_count(notifications[i].data);
//                             since = notifications[i].timestamp;
//                         }
//                     }
//                 );
//             }, 10000);
//         });
//         {% endif %}
    </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

{% block add_scripts %}{% endblock %}
{% endblock %}


{% block content %}
    <div class="container mt-2">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}